<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.atos.petbot"
          android:versionCode="8"
          android:versionName="7.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.atos.petbot.ApplicationState"
        android:icon="@mipmap/pblogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/pblogo" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/solid_black" />

        <activity android:name="com.atos.petbot.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.atos.petbot.PetBot"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity
            android:name="com.atos.petbot.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName="com.atos.petbot.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atos.petbot.LoginActivity"/>
        </activity>

        <activity
            android:name="com.atos.petbot.SetupActivity"
            android:label="@string/title_activity_setup">
        </activity>

        <activity
            android:name="com.atos.petbot.QRViewer"
            android:label="@string/title_activity_qrviewer"
            android:parentActivityName="com.atos.petbot.SetupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atos.petbot.SetupActivity"/>
        </activity>

        <activity
            android:name="com.atos.petbot.SelfieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_selfie"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.atos.petbot.SELFIE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.atos.petbot.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.atos.petbot.PetBot"
            android:windowSoftInputMode="adjustPan">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atos.petbot.PetBot"/>
        </activity>

        <service android:name="com.atos.petbot.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.atos.petbot.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>